<div class="formularioRegistro">
  <div class="wrapper fadeInDown">
    <div id="formContent">
    
      <!-- Tabs Titles -->
      <h3>Login</h3>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="username" class="fadeIn second"  placeholder="username">
        <input type="password" id="password" class="fadeIn third"  placeholder="password">
        <input type="submit"  class="fadeIn fourth" value="Log In">
      </form>
  
    </div>
  </div>

<router-outlet></router-outlet>